body {
  background-color: #f5f5f5f5;
}

html {
  overflow-y: overlay;
}

.form-inline .form-control {
  width: 300px;
  border-radius: 50px;
}

#search-btn {
  border-radius: 50px;
}

/* profile */

.card-profile {
  background: -webkit-linear-gradient(top left, #303030, #303030);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 220px;
  color: #ffffff;
}

.img-circle {
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
}

.card-about {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

.card-employmentHistory {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

.card-no-result {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

.size-change {
  font-size: 10px;
}

.employmentHistory .employmentHistory-button {
  background-color: #876e8f;
  border-color: #876e8f;
  border-radius: 50px;
}

.qualification .employmentHistory-button {
  background-color: #876e8f;
  border-color: #876e8f;
  border-radius: 50px;
}

/* Side by side images*/
.row {
  display: flex;
}

.column {
  border-radius: 10px;
  flex: 33.33%;
  padding: 5px;
}

/* Qualifications*/

.card-qualification {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

.size-change {
  font-size: 10px;
}

.qualification .qualification-button {
  background-color: #876e8f;
  border-color: #876e8f;
  border-radius: 50px;
}

.btn-purple {
  background-color: #a58aae;
  border-radius: 50px !important;
  color: white;
  font-size: 12px;
}

/* skills */

.skills {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

.skills .badge-skill {
  background-color: #876e8f;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: auto;
  border-radius: 10px;
  border-color: #876e8f;
  border-width: 0px;
}

.no-skills {
  margin-left: 15px;
  padding-right: 20px;
  font-size: 14px;
}

/* vacancies  */

.vacancies-card {
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.vacancy-header {
  display: flex;
  flex-direction: row;
}

.vacancy-title {
  margin-left: 10px;
}

.connect-btn {
  background-color: #a58aae;
  border-radius: 100px !important;
  color: white;
  width: auto;
  height: auto;
  margin: auto;
  display: block;
  text-align: center;
}

.btn-small {
  background-color: #a58aae;
  border-radius: 100px !important;
  color: white;
  width: auto;
  padding: 3px;
  font-size: 10px;
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.btn-view-more {
  background-color: white;
  border-radius: 100px !important;
  color: #a58aae;
  width: auto;
  padding: 3px;
  font-size: 10px;
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.editWhiteBtn {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #ffffff !important;
  color: #000000 !important;
  height: 35px !important;
  border-color: #876e8f !important;
  border-radius: 50px !important;
}
