{% extends "base.html" %} {% block title %}Edit Auction{% endblock %} {% block content %}
<form method="POST">
    <h3 align="center">Edit Auction</h3>

    <div class="form-group">
        <label for="startingPrice">Starting Price</label>
        <input type="text" class="form-control" id="startingPrice" name="startingPrice" placeholder="Starting Price" />
    </div>
    <div class="form-group">
        <label for="bidIncrement">Bid Increment</label>
        <input type="text" class="form-control" id="bidIncrement" name="bidIncrement" placeholder="Bid Increment" />
    </div>
    <div class="form-group">
        <label for="endTime">End Time</label>
        <input type="datetime-local" class="form-control" id="endTime" name="endTime" placeholder="End Time" />
    </div>
    <div class="form-group">
        <label for="description">Auction Description</label>
        <input type="description" class="form-control" id="description" name="description" placeholder="Description" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}