{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block content %}
<form method="POST">
    <head>
        <title>Auctionly</title>
        <link href="../static/css/style.css" rel="stylesheet">
      </head>
    <body>
        <div class="alert alert-success" role="alert" style="padding-top: 10px; margin-top: 20px;">
            Congratulations! You've ranked amongst the Auctionly top 3 users. <a href="/rank_info" class="alert-link">Learn more</a>.
          </div>
        <div class="container">
          <div class="row">
                <div class="col-lg-9">
                    <div class="media-card">
                        <div class="media">
                            <div class="media-body">
                                <h2 style="color: maroon; text-decoration: none;">Your art feed</h2>
                            </div>
                        </div>
                    </div>
                    <div class="media-card">
                        <div class="media">
                            <div class="media-body">
                                <h3><a style="color: maroon; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h3>
                                <img src="https://picsum.photos/600/500" class="img-fluid center" style="padding-top: 10px; align-items: center;">
                                <h7><a style="color: maroon; text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                                <br>
                                <h8 style="color: maroon;">Status: <h8 style="color: black;">On Auction</h8></h8>
                                <p style="font-size: 13px; padding-top: 10px;">this is the Mona Lisa, look at it, appreciate it, it changes your life. I was going to kill myself then I saw the Mona Lisa so I was like broooo if she that ugly and famous I'm sure sexy me can get famous too. So I've found purpose. Thanks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="media-card">
                        <div class="media">
                            <div class="media-body">
                                <h3><a style="color: maroon; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h3>
                                <img src="https://picsum.photos/600/500" class="img-fluid center" style="padding-top: 10px; align-items: center;">
                                <h7><a style="color: maroon; text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                                <br>
                                <h8 style="color: maroon;">Status: <h8 style="color: black;">On Exhibition</h8></h8>
                                <p style="font-size: 13px; padding-top: 10px;">this is the Mona Lisa, look at it, appreciate it, it changes your life. I was going to kill myself then I saw the Mona Lisa so I was like broooo if she that ugly and famous I'm sure sexy me can get famous too. So I've found purpose. Thanks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="media-card">
                        <div class="media">
                            <div class="media-body">
                                <h3><a style="color: maroon; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h3>
                                <img src="https://picsum.photos/600/500" class="img-fluid center" style="padding-top: 10px; align-items: center;">
                                <h7><a style="color: maroon; text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                                <br>
                                <h8 style="color: maroon;">Status: <h8 style="color: black;">On Auction</h8></h8>
                                <p style="font-size: 13px; padding-top: 10px;">this is the Mona Lisa, look at it, appreciate it, it changes your life. I was going to kill myself then I saw the Mona Lisa so I was like broooo if she that ugly and famous I'm sure sexy me can get famous too. So I've found purpose. Thanks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="media-card">
                        <div class="media">
                            <div class="media-body">
                                <h3><a style="color: maroon; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h3>
                                <img src="https://picsum.photos/600/500" class="img-fluid center" style="padding-top: 10px; align-items: center;">
                                <h7><a style="color: maroon; text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                                <br>
                                <h8 style="color: maroon;">Status: <h8 style="color: black;">On Exhibition</h8></h8>
                                <p style="font-size: 13px; padding-top: 10px;">this is the Mona Lisa, look at it, appreciate it, it changes your life. I was going to kill myself then I saw the Mona Lisa so I was like broooo if she that ugly and famous I'm sure sexy me can get famous too. So I've found purpose. Thanks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="media-card">
                        <div class="media">
                            <div class="media-body">
                                <h3><a style="color: maroon; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h3>
                                <img src="https://picsum.photos/600/500" class="img-fluid center" style="padding-top: 10px; align-items: center;">
                                <h7><a style="color: maroon; text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                                <br>
                                <h8 style="color: maroon;">Status: <h8 style="color: black;">On Auction</h8></h8>
                                <p style="font-size: 13px; padding-top: 10px;">this is the Mona Lisa, look at it, appreciate it, it changes your life. I was going to kill myself then I saw the Mona Lisa so I was like broooo if she that ugly and famous I'm sure sexy me can get famous too. So I've found purpose. Thanks.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                <div class="auctions-card">
                    <h3><a style="color: maroon; text-decoration: none;" type="submit" name="view">Auction Alerts</a></h3>
                    <br>
                    <div class="media">
                        <div class="media-body">
                            <h5><a style="color: maroon; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h5>
                            <img src="https://picsum.photos/600/500" class="img-fluid center-small" style="padding-top: 10px; align-items: center;">
                            <h7><a style="text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                        </div>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="media-body">
                            <h5><a style="color: maroon; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h5>
                            <img src="https://picsum.photos/600/500" class="img-fluid center-small" style="padding-top: 10px; align-items: center;">
                            <h7><a style="text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                        </div>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="media-body">
                            <h5><a style="color: maroon; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h5>
                            <img src="https://picsum.photos/600/500" class="img-fluid center-small" style="padding-top: 10px; align-items: center;">
                            <h7><a style="text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                        </div>
                    </div>
                    <hr>
                </div>
                </div>
            </div>
        </div>
      </body>
</form>
{% endblock %}