{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/profile-style.css" rel="stylesheet">
</head>
<div class="container mt-3">
    <div class="main-page">
            <div class="row">
                <div class="col-lg-9 pr-5">
                    <div class="row card-profile">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <img src="../static/images/itsbritneybich.jpg" class="img-circle" />
                        </div>
                        <div class="col-6 pl-3 d-flex justify-content-center align-items-start flex-column">
                            <div class="row">
                                <h4 class="user-name"> {{ user.get_full_name() }} </h4>
                            </div>
                            <div class="row">
                                <p class="user-profession"> singer / artist </p>
                            </div>

                            <div class="row">
                                <p class="user-connections">Pieces owned: 3</p>
                            </div>
                        </div>
                    </div>
                    <div class="row h-22 mt-3">
                        <div class="card-about">
                        <div class="col">
                            <div class="row mt-2">
                                <h8 class="mb-2">About</h8>
                            </div>
                            <div class="row">
                                <p style="">its britney bitch</p>
                            </div>
                        </div>
                    </div>
                    </div>

                    <!-- ADD Employment History -->
                    <div class="row mt-3">
                        <div class="card-employmentHistory">
                            <div class="col-9">
                                <div class="row">
                                    <h8>Art Gallery</h8>
                                </div>
                                <div class="row">
                                    
                                    {% for art in user_art %}
                                    <div class="column">
                                        <option value="{{ art.get_art_id() }}">{{ art.get_name() }}</option>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>

                    <form action="/upload">
                        <input type="submit" value="Upload Art" />
                    </form>
                </div>
                <div class="col-lg-3 display: flex">
                    <div class="auctions-card">
                        <h3><a style="color: #000000; text-decoration: none;" type="submit" name="view">Auction Alerts</a></h3>
                        <br>
                        <div class="media">
                            <div class="media-body">
                                <h5><a style="color: #000000; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h5>
                                <img src="https://picsum.photos/600/500" class="img-fluid center-small" style="padding-top: 10px; align-items: center;">
                                <h7><a style="text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                            </div>
                        </div>
                        <hr>
                        <div class="media">
                            <div class="media-body">
                                <h5><a style="color: #000000; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h5>
                                <img src="https://picsum.photos/600/500" class="img-fluid center-small" style="padding-top: 10px; align-items: center;">
                                <h7><a style="text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                            </div>
                        </div>
                        <hr>
                        <div class="media">
                            <div class="media-body">
                                <h5><a style="color: #000000; text-decoration: none;" type="submit" name="view">Mona Lisa</a></h5>
                                <img src="https://picsum.photos/600/500" class="img-fluid center-small" style="padding-top: 10px; align-items: center;">
                                <h7><a style="text-decoration: none; padding-top: 10px;" type="submit" name="view">Someone</a></h7>
                            </div>
                        </div>
                        <hr>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}