{% extends "base.html" %} {% block title %}Rank Info{% endblock %} {% block content %}
<head>
    <title>Auctionly</title>
    <link href="../static/css/style.css" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="media-card">
                    <div class="media">
                        <div class="media-body">
                            <h5 style="color: maroon; text-decoration: none;">Ranking</h5>
                            <p>Congratulations! You have ranked amongst the Auctionly top 3 users for this week.</p>
                            <p>This means you can recieve a 30% discount on the commission we charge on the art you purchase/sell.</p>
                            <p>Your unique discount code is 5DHQEY7S</p>
                            <p>Use it wisely and don't worry we'll keep the alert up for you to access this page for the week until our next ranking week.</p>
                            <p>Thank you for your loyalty and continued custom. Love, Auctionly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}